body {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url('https://www.holcim.com.co/sites/colombia/files/styles/overlap_teaser_no_overlapping_extra/public/2022-06/planta-de-concreto-puente-aranda-nuevo-logo.jpg.webp?itok=y-sNzGP7');
    background-size: cover;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); /* Color blanco con 50% de transparencia */
    z-index: 0;
}
div.flex-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0 45px 45px 0;
}
div.qvobject {
    flex: 1 1 auto;
    height: 300px;
    min-width: 400px;
    margin: 45px 0 0 45px;
}
