@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(28,48,87,1) 100%); 
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 150px;
    margin-right: 20px;
}

.title {
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 5vh;
    color: #fff;

    @media (max-width: 1250px) {
        font-size: 60px;
    }

    @media (max-width: 1000px) {
        font-size: 40px;
    }

    @media (max-width: 750px) {
        font-size: 45px;
    }

    @media (max-width: 550px) {
        font-size: 10vw;
    }

    @media (max-width: 250px) {
        font-size: 11vw;
    }
}

/* KPI 1 Filters */

.container-filters {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter {
    width: 50%;
    height: 100px;
}

/* KP1 nested */

.container-kpis{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-kpis-nested{
    display: flex;
    width: 60%;
}

.container-two-kpis{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.width-kpi{
    width: 50%;
    height: 100px;
}

.width-graphic{
    width: 50%;
    height: 100px;
}

.container-texts-kpis{
    width: 40%;
}

.container-texts-kpis h1 {
    font-size: 30px;
    color: #fff;

    @media screen and (max-width: 750px) {
        font-size: 25px;
    }

    @media screen and (max-width: 600px) {
        font-size: 5vw;
    }

    @media screen and (max-width: 400px) {
        font-size: 6vw;
    }
}

.container-texts-kpis p {
    font-size: 18px;
    margin: 0;
    color: #fff;
    @media screen and (max-width: 1250px) {
        font-size: 15px;
        text-align: center;
    }

    @media screen and (max-width: 1000px) {
        font-size: 20px;
    }

    @media screen and (max-width: 750px) {
        font-size: 15px;
    }

    @media screen and (max-width: 600px) {
        font-size: 5vw;
    }

    @media screen and (max-width: 400px) {
        font-size: 6vw;
    }
}